<?xml version="1.0"?>
<configuration 
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="SecureRedirect" enabled="true" stopProcessing="true">
                    <match url="^(.*)$" />
                    <conditions logicalGrouping="MatchAny">
                        <add input="{HTTPS}" pattern="off" />
                        <add input="{HTTP_HOST}" pattern="^(www\.)?(.*)$" />
                    </conditions>
                    <action type="Redirect" url="https://{C:2}/{R:1}" redirectType="Permanent" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>